.header {
    max-width: 1230px;
}

.header-inner {
    width: 100%;
    display: inline;
}

.header-logo {
    
    height: 30px;
    border-bottom: none;
    font-size: 20px;
    background: #000;
    color: #fff;
    cursor: pointer;
}