.header {
    background: #000;
    max-width: 1536px;
}

.header-inner {
    width: 100%;
    margin: 0 auto;
    padding: 20px 15px;
}

.header-logo {
    display: block;
    font-size: 24px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}