.header {
    max-width: 1230px;
}

.header-inner {
    width: 100%;
}

.header-logo {
    width: 100%;
    margin: 15px 20px;
    font-size: 24px;
    background: #000;
    color: #fff;
    cursor: pointer;
}