.todo-message_header {
    height: 40px;
    padding: 10px 20px;
    background: #d1e7dd;
    color: #0f5132;
    border-color: #badbcc;
}

.todo-error-message_header {
    height: 40px;
    padding: 10px 20px;
    background: #f8d7da;
    color: #842029;
    border-color: #f5c2c7;
}

.content {
    max-width: 1230px;
    margin: 0 auto;
}

.create-form {
    display: flex;
    width: 70%;
    justify-content: space-between;
    margin: 0 auto;
    padding: 30px 30px;
    text-align: center;
}

.create-form-todo_input {
    width: 100%;
    height: 45px;
    outline: none;
}

.create-form_button-submit {
    margin: 0 50px;
    width: 80px;
    height: 45px;
    font-size: 15px;
    background: #000;
    color: #fff;
}

.table {
    margin: 0 auto;
    padding: 30px 30px;
    justify-content: space-between;
}

.table-row {
    display: flex;
    border-bottom: #000;
}

.table-update_input {
    outline: none;
    border: none;
}

.table-update_button-submit {
    border: none;
    background: #00f;
    color: #fff;
    cursor: pointer;
}

.table-delete_button-submit {
    border: none;
    background: #ff0000;
    color: #fff;
    cursor: pointer;
}