.todo-message_header {
    height: 40px;
    padding: 10px 20px;
    background: #d1e7dd;
    color: #0f5132;
    border-color: #badbcc;
}

.todo-error-message_header {
    height: 40px;
    padding: 10px 20px;
    background: #f8d7da;
    color: #842029;
    border-color: #f5c2c7;
}

.content {
    max-width: 1536px;
    margin: 0 auto;
    padding: 60px 15px;
}

.create-form {
    display: flex;
    width: 70%;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
}

.create-form-todo {
    width: 70%;
}

.create-form-todo_input {
    padding: 10px;
    width: 100%;
    height: 45px;
    border: 1px solid #ddd;
    border-radius: 3px;
    outline: none;
}

.create-form_button {
    width: 20%;
}

.create-form_button-submit {
    padding: 10px;
    width: 100%;
    height: 45px;
    border: none;
    border-radius: 3px;
    background: #000;
    color: #fff;
    cursor: pointer;
}

.table {
    margin: 30px auto;
    width: 70%;
    text-align: left;
}

.table-row {
    display: flex;
    border-bottom: 1px solid #000;
}

.table-update_input {
    outline: none;
    border: none;
}

.table-update_button-submit {
    border: none;
    border-radius: 3px;
    background: #00f;
    color: #fff;
    cursor: pointer;
}

.table-delete_button-submit {
    border: none;
    border-radius: 3px;
    background: #ff0000;
    color: #fff;
    cursor: pointer;
}