.header {
    max-width: 1536px;
}

.header-inner {
    width: 100%;
}

.header-logo {
    display: block;
    height: 50px;
    padding: 10px;
    font-size: 20px;
    background: #000;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}